project:
  type: website
  render:
    - "*.qmd"
    - "!packages/"  ## there are some .Rmds in pkg files
    - "!bios/"
  preview:
    port: 3979

website:
  site-url: https://bcgov.github.io/FFEC-website
  page-navigation: true
  reader-mode: true
  navbar:
    title: false
    logo: img/logos/FFEC_logo_white.png
    search: true
    left:
      - text: "Home"
        file: index.qmd
      - text: "Who we are"
        file: about.qmd
      - text: "What we do"
        menu:
          - projects.qmd
          - products.qmd
      - text: "Publications"
        file: publications.qmd
    tools:
      - icon: github
        menu:
          - text: Source code
            url: https://github.com/bcgov/FFEC-website
          - text: Report a bug
            url: https://github.com/bcgov/FFEC-website/Issues
    side-bar:
      collapse-level: 4
      style: floating
  page-footer: |
    Powered by [Quarto](https://quarto.org/)

format:
  html:
    theme:
      - cosmo
      - scss/bcgov-theme.scss
    toc: true
    html-math-method: katex

bibliography: references.bib

execute:
  freeze: auto